@page
@model proiectMP.Pages.Ingredients.DetailsModel

@{
    ViewData["Title"] = "Details Ingredient";
}

<h1>@Html.DisplayFor(model => model.Ingredient.IngredientName)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Calories)
        </dd>

        <dt class="col-sm-2">Unsaturated Fats</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Unsaturated_Fats)
        </dd>

        <dt class="col-sm-2">Saturated Fats</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Saturated_Fats)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Sugars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Sugars)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Fibers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Fibers)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Proteins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Proteins)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Minerals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Minerals)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ingredient?.ID">Edit</a> |
    <a asp-page="./Index">Back to Ingredients</a>
</div>
