@page
@model proiectMP.Pages.Ingredients.IndexModel

@{
    ViewData["Title"] = "Ingredients";
}

<h1>My Ingredients</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].IngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Unsaturated_Fats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Saturated_Fats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Sugars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Fibers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Proteins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Minerals)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ingredient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unsaturated_Fats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saturated_Fats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sugars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fibers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proteins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minerals)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
