@page
@model proiectMP.Pages.Allergens.IndexModel

@{
    ViewData["Title"] = "My Allergens";
}

<h1>My Allergens</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Allergen[0].AllergenName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Allergen) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AllergenName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
