@page "{id:int?}"
@model proiectMP.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create">Add New Category</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CategoryData.Categories) 
{
            string selectedRow = "";

            if (item.ID == Model.CategoryID)
            {
                selectedRow = "table-success";
            }

        <tr class="@selectedRow">
            <td>
                <a asp-page="/ProductsByCategory/Index" asp-route-categoryId="@item.ID">
                @Html.DisplayFor(modelItem => item.CategoryName)
                </a>
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
