@page
@model proiectMP.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details Product";
}

<h1 class="text-center">@Html.DisplayFor(model => model.Product.Name)</h1>

<div>
    <hr />
    <div class="text-center">
        <img src="@Model.Product.CoverImageURL" class="img-thumbnail" />
        <p>@Html.DisplayFor(model => model.Product.Description)</p>
    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CategoryName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>

        <dt class="col-sm-2">Ingredients</dt>
        <dd class="col-sm-10">
            @{
                foreach (var ingredient in Model.Product.ProductIngredients)
                {
                    @ingredient.Ingredient.IngredientName <br />
                }
            }
        </dd>

        <dt class="col-sm-2">Allergens</dt>
        <dd class="col-sm-10">
            @{
                foreach (var allergen in Model.Product.ProductAllergens)
                {
                    @allergen.Allergen.AllergenName <br />
                }
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product?.ID">Edit</a> |
    <a asp-page="./Index">Back to All Products</a>
</div>
