@page 
@model proiectMP.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Menu";
}

<h1>Products</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find Product:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                @Html.DisplayNameFor(model => model.Product[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductIngredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductAllergens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CoverImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductD.Products) {

            string selectedRow = "";

            if (item.ID == Model.ProductID)
            {
                selectedRow = "table-success";
            }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @{
                    foreach (var ingredient in item.ProductIngredients)
                    {
                        @ingredient.Ingredient.ID @: @ingredient.Ingredient.IngredientName <br />
                    }
                }
            </td>
            <td>
                @{
                    foreach (var allergen in item.ProductAllergens)
                    {
                        @allergen.Allergen.ID @: @allergen.Allergen.AllergenName <br />
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverImageURL)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
